<!--Footer-->
<footer class="footer">
    <div class="footer-links">
        <div class="container">
            <a href="#/" class="home-link">
                <span class="clover footer-clover">
                    <span class="clover-petal clover-petal-top">
                        <span class="petal-inner"></span>
                    </span>
                    <span class="clover-petal clover-petal-right">
                        <span class="petal-inner"></span>
                    </span>
                    <span class="clover-petal clover-petal-bottom">
                        <span class="petal-inner"></span>
                    </span>
                    <span class="clover-petal clover-petal-left">
                        <span class="petal-inner"></span>
                    </span>
                    <span class="clover-cogwheel">
                        <span class="cog cog-1"></span>
                        <span class="cog cog-2"></span>
                        <span class="wheel"></span>
                    </span>
                </span>
            </a>

            <p>You can buy full version here:</p>

            <p><a href="#/home">UIChest.com/lucky-store</a></p></div>
    </div>
    <address>
        <div class="container">
            Created by <a href="#/home">Sergey Azovskiy</a>
        </div>
    </address>
</footer>
<!--/Footer-->
