<div class="container login-view">
    <h2 class="page-title"><span class="text-wrap">Login</span></h2>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
            <div class="simple-form-block login-form">
                <form class="simple-form" ng-submit="login()">
                    <input type="text" name="login-form-username" id="login-form-username" class="input-text" placeholder="Username"/>
                    <input type="password" name="login-form-password" id="login-form-password" class="input-text" placeholder="Password"/>
                    <input type="submit" value="Login" class="control-submit"/>
                </form>
            </div>
        </div>
    </div>
</div>